.wrap {
    width: 100%;
}

.item {
    width: 100%;
    margin-bottom: 20px;
}

.item:last-child {
    margin-bottom: 0;
}

.title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}
